# Ignore specific folders in the base directory
/src/checkpoints/
/data/raw/
/data/processed/
/data/cleaned/
/data/unified/
/wandb/
/include/
/env/

# Ignore common system files
.DS_Store
Thumbs.db

# Ignore Python-specific files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env
